.wrapper {
  margin-left: 70px;
}

.slim {
  height: 34px;
  width: 140px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  border-radius: 4px;
  padding: 0px 5px;
  text-transform: uppercase;
  position: relative;
  border: 0px;
  color: #FFF;
}

.buttonIcon {
  height: 14px;
  vertical-align: top;
}

.aqua {
  background-color: #4FC1E9;
}

.aqua:hover {
  background-color: #61BFE1;
}

.aqua:active {
  box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.10); 
  background-color: #61BFE1;
}

.aqua:focus {
  outline:0;
}
