# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
*.p12

# testing
/coverage

# production
/build
/releases
/dist
/.electron-symbols

# misc
.DS_Store
.env
.env.*
sentry.properties
*.mov
*.mp4
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/*
