* {
  margin: 0;
  padding: 0;
  -webkit-start-padding: 0px;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
}

.pageContainer {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
