p {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  margin: 0px;
}

h1 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 400;
  margin: 0px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0px;
}

h4 {
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 14px;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
}

h5 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin: 0px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #61BFE1;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

.blueLink {
  color: #61BFE1;
  text-decoration: underline;
}

.darkText {
  color: #1B1B1B;
}

.largeText {
  font-size: 14px;
  line-height: 16px;
}
