.wrapper {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
}

.orangeBackground {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #FC8A23 0%, #D5560E 100%);
  color: #FFFFFF;
}

.largeTopSpacer {
  margin-top: 100px;
}

.strongBlue {
  font-weight: 700;
  color: #3F63AC;
}

.footer {
  position: absolute;
  bottom: 100px;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.computerTypeButtons {
  margin-bottom: 100px;
}

.setupTitle {
  margin-top: 90px;
  margin-bottom: 50px;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.orangeUnderline {
  border-bottom: 2px solid #FC8A23;
}

.imageScale {
  max-width: 380px;
  width: auto;
  max-height: 380px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imageDropshadow {
  box-shadow: 0 2px 4px 1px #BBBDBF;
}

.radioWrapper {
  margin: 30px 60px;
  text-align: left;
}
.radio {
  margin: 10px;
}
