.wrapper {
  margin-bottom: 35px;
  text-align: left;
}

.label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.outlinedInput {
  border: 1px solid #1B1B1B;
  background-color: #636161;
  color: #FFFFFF;
  width: 100%;
  border-radius: 4px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 13px;
}

.outlinedInput:focus {
  outline: none;
}
