.wrapper {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.animatedProgressWrapper {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}